.content .left-content .text{
    gap: 40px;
}
@media (max-width: 768px) {
    .content{
        gap: 140px;
    }
    .content .left-content .text h1 {
        font-size: 32px;
    }
}
.content .left-content .text h1 {
    font-size: 42px
}
.content .left-content .text a{
    color: var(--font-color2);
    font-size: 26px;
}